.exercise-input {
    border: 0;
    padding: 0;
    margin: 10px;
    background: transparent;
    font-size: 24px;
    text-align: center;
}

.rep-input {
    padding: 0;
    margin: 10px;
    background: transparent;
    font-size: 18px;
    text-align: center;
}

.exercise {
    margin-bottom: 50px;
}

.exercise-input {
    width: 250px;
}

.rep-input {
    width: 245px;
}

.del-button {
    padding: 0.3em 0.6em;
}
